<%- include('./includes/head.ejs') %>
</head>

<body>
	<%- include('./includes/navigation.ejs') %>
	<main>
		<h1>App Started</h1>
	</main>
	<br />

	<% if( locals.errMess != null) { %>
	<h3><%= errMess %></h3>
	<% } %>
</body>

<%- include('./includes/end.ejs') %>